body{
  display: flex;
  justify-content: center;
}
.center{
  border-radius: 25px;
  height :300px;
  width:400px;
  background-color:#13ff0f;
}
h1{
  font-size:40px;
  padding:10px;
  margin: 10px;
}
.clock{
  font-size:30px;
  padding:10px;
  margin: 10px;
}